
$font-family-main: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$RobotoRegular: "RobotoRegular",'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-RobotoLight: "RobotoLight",'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-RobotoMedium: "RobotoMedium",'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-RobotoBold: "RobotoBold",'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-open-sans-light: 'Open Sans', sans-serif;
$Ravi-Prakash: 'Ravi Prakash';
$raleway: 'Raleway', sans-serif;

$header-bg: linear-gradient(to right,#d95e5e,#6d4393);
$border-color:rgba(255, 230, 0, 0.79);
